.lot-button {
  width: 70px;
  height: 70px;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 40px;
  font-weight: bolder;
  border-radius: 50%;
}

.lot-button:hover {
  background-color: #1e4a9f; /* 기본 상태에서의 hover 색상 */
}

.lot-button.abnormal:hover {
  background-color: #a51c1c; /* abnormal 상태에서의 hover 색상 */
}

.lot-button.normal:hover {
  background-color: #225ab1; /* normal 상태에서의 hover 색상 */
}
