.main-container {
  padding: 40px;
  background-color: #f7f7f7;
}

.header-container {
  background-color: #e7e7e7;
  height: 6rem;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  padding-left: 2rem;
}

.header-container > p {
  font-weight: 800;
  font-size: 50px;
}

.body-container {
  display: flex;
}

.lot-container {
  background-color: #e7e7e7;
  margin-top: 40px;
  border-radius: 2rem;
  width: 6rem;
  padding: 10px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.lot-container > * {
  margin: 10px;
}

.monitor-container {
  background-color: #e7e7e7;
  display: flex;
  width: 100%;
  margin: 40px;
  border-radius: 2rem;
}

.monitor-container > * {
  margin: 40px;
  border-radius: 2rem;
}

.result-container {
  background-color: white;
  flex: 1;
}

.result-clock-container {
  padding: 20px;
  font-size: 30px;
  font-weight: bolder;
}

.result-chart-container {
  padding-top: 100px;
}

.result-chart-lot-container {
  display: absolute;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}

.result-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.result-text-container > div:first-child {
  font-size: 60px;
  font-weight: 600;
  padding-top: 100px;
}

.result-text-container > div:last-child {
  font-size: 100px;
  font-weight: 800;
  padding-top: 20px;
}

.result-detail-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 40px;
}

.result-detail-container > * {
  border-radius: 2rem;
  flex: 1;
}

.feature-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature-title {
  padding-top: 20px;
  font-size: 50px;
  font-weight: 700;
}

.feature-name {
  font-size: 30px;
  font-weight: 700;
}

.advice-container {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 800;
  font-size: 50px;
}
